.color {
  margin-top: 140px;
  background-color: rgb(32, 35, 41);
  color: rgb(255, 255, 255);
  font-size: 600px;
  font-weight: 900;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
